/* header section stuff */



.header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logosection {
  display: inline-flex;
  align-items: center;
  padding-left: 24px;
}

.logotext {
  font-size: 32px;
}

.logotext2 {
  font-size: 32px;
  color: grey;
}

.headernav {
   display: flex;
   align-items: center;
   padding: 0;
}

.headernav a{
  padding-left: 16px;
}
/* beginning of body */

/* intro section*/

.introsection {
  display: flex;
  background-color: lightgrey;
  width: 100%;
  float: left;
}

.bannerimage {
   background-image: url("../images/banner.jpg");
   background-size: cover;
   height: 489px;
   width: 662px;
   margin: 32px 24px;
}

.introcontent {
  height: 12rem;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 8rem;
  padding-left: 24px;

}

.startbutton {
  margin-top: 2rem;
  background-color: grey;
  width: 17rem;
  display: flex;
  justify-content: center;
}

.starttext {
  padding-top: 8px;
  padding-bottom: 8px;
 color: white;
 margin: auto;
}

#textformat1 {
font-weight: bolder;
color: grey;
font-size: 2rem;
}

#textformat2 {
  color: grey;
  font-size: 1.5rem;
  padding-top: 1rem;
}

/* beginning of information section */

.infosection {
  display: flex;
  width: 100%;
}
