/* header section stuff */



.header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logosection {
  display: inline-flex;
  align-items: center;
  padding-left: 24px;
}

.logotext {
  font-size: 24px;
}

.logotext2 {
  font-size: 24px;
  color: grey;
}

.headernav {
   display: flex;
   align-items: center;
   padding: 0;
}

.headernav a{
   padding-left: 16px;
}
/* beginning of body */

/* intro section*/

.introsection {
   display: flex;
   background-color: lightgrey;
   width: 100%;
   float: left;
}

.bannerimage {
   background-image: url("../images/banner.jpg");
   background-size: cover;
   height: 489px;
   width: 662px;
   margin: 32px 24px;
}

.introcontent {
  height: 12rem;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 8rem;
  padding-left: 24px;

}

.startbutton {
   margin-top: 2rem;
   background-color: grey;
   width: 17rem;
   display: flex;
   justify-content: center;
}

.starttext {
   padding-top: 8px;
   padding-bottom: 8px;
   color: white;
   margin: auto;
}

.textformat1 {
    font-weight: bolder;
    color: grey;
    font-size: 2rem;
}

.textformat2 {
   color: grey;
   font-size: 1.5rem;
   padding-top: 1rem;
}

/* beginning of information section */

.infosection {
   display: flex;
   width: 940px;;
}

.rightside {
  border-left: 1px solid lightgrey;
}

.leftsidetext {
  padding-left: 24px;
  width: 65%;
}

.infomainimage {
   background-image: url("../images/information-main.jpg");
   background-size: cover;
   width: 662px;
   height: 404px;
   margin: 32px 24px;
}

.textformat3 {
  font-weight: bolder;
  color: grey;
  font-size: 2rem;
  padding-bottom: 24px;
}

.textformat4 {
  color: grey;
  font-size: 1.5rem;
}

.infoimageformat {
  width: 170px;
  height: 170px;
  margin: 16px;
}

.infosectioncontent {
   padding-top: 24px;
}

.infocontentbox {
  display: flex;
  width: 435px;
  padding-right: 24px;
}

.infoboxtext {
  margin: auto;
  line-height: 28px;
}

#greybackground {
  background-color: lightgrey;
}

#bluetext {
  color: blue;
  font-weight: bold;
}

#topborder {
  border-top: solid 2px lightgrey;
}

#bottomborder {
  border-bottom: solid 2px lightgrey;
}
